MAIL_USER=twoj-adres@gmail.com
MAIL_APP_PASSWORD=wklej-tu-haslo-aplikacji-bez-spacji
MAIL_TO=adres-na-ktory-maja-trafiac-wiadomosci@gmail.com
ALLOWED_ORIGINS=http://localhost:8080,https://jann5.github.io
